.grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 15px;
}.col-span-3, .col-span-2, .col-span-1{
	padding: 5px;
	border: 10px solid #F6729A;
	box-sizing: border-box;
}.col-span-3{
	grid-column: span 3;
	background:url(https://static.vecteezy.com/system/resources/thumbnails/011/020/176/small/abstract-white-and-light-gray-wave-modern-soft-luxury-texture-with-smooth-and-clean-background-free-vector.jpg);
}.col-span-2{
	grid-column: span 2;
	background:url(https://static.vecteezy.com/system/resources/thumbnails/011/020/176/small/abstract-white-and-light-gray-wave-modern-soft-luxury-texture-with-smooth-and-clean-background-free-vector.jpg);
}.col-span-1{
	grid-column: span 1;
	background:url(https://static.vecteezy.com/system/resources/thumbnails/011/020/176/small/abstract-white-and-light-gray-wave-modern-soft-luxury-texture-with-smooth-and-clean-background-free-vector.jpg);
}
