
/* custom grid layout of 3 colum layout */

.grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 15px;

}
 .col-span-3, .col-span-2, .col-span-1{
	padding: 5px;
	border: 10px solid #0A7D14;
	box-sizing: border-box;
}

.col-span-3{
	grid-column: span 3;
	background: url(https://static.vecteezy.com/system/resources/thumbnails/023/780/648/small/seamless-blurred-yellow-colors-gradient-abstract-design-background-texture-illustration-graphic-template-for-banner-presentation-wallpaper-backdrop-free-vector.jpg)
}
.col-span-2{
	grid-column: span 2;
	background: url(https://static.vecteezy.com/system/resources/thumbnails/023/780/648/small/seamless-blurred-yellow-colors-gradient-abstract-design-background-texture-illustration-graphic-template-for-banner-presentation-wallpaper-backdrop-free-vector.jpg)
}
.col-span-1{
	grid-column: span 1;
	background: url(https://static.vecteezy.com/system/resources/thumbnails/023/780/648/small/seamless-blurred-yellow-colors-gradient-abstract-design-background-texture-illustration-graphic-template-for-banner-presentation-wallpaper-backdrop-free-vector.jpg)
}
iframe {
		max-width: 100%;
		height: auto;
	}
