

.grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 15px;
}.col-span-3, .col-span-2, .col-span-1{
	padding: 5px;
	border: 10px solid #F0EC11;
	box-sizing: border-box;
}.col-span-3{
	grid-column: span 3;
	background:url(https://img.magnific.com/free-photo/blurred-gradient-background-pink-color_58702-1643.jpg);
}.col-span-2{
	grid-column: span 2;
	background:url(https://img.magnific.com/free-photo/blurred-gradient-background-pink-color_58702-1643.jpg);
}.col-span-1{
	grid-column: span 1;
	background:url(https://img.magnific.com/free-photo/blurred-gradient-background-pink-color_58702-1643.jpg);
}
